.orders-container {
  margin: 80px;
}

.orders-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th, .order-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.order-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

.no-orders {
  font-size: 18px;
  text-align: center;
}
.eQFVAY {
  font-weight: bold !important;

}